@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html,body {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    max-height: 100vh;
}

body {
    opacity:1;
    transition-duration:2s;
    transition-property: opacity;
    transition-timing-function: fade-in-out;
}
body.fade {
    opacity: 0;
}

.container .menu1 {
    position: fixed;
    z-index: 999999;
    top:2rem;
    left:2rem;
    width: 1.5rem;
    aspect-ratio: 1/1;
    cursor: pointer;
}
.container .menu1 img{
   width: 100%;
   height: 100%;
}
/* .container .menu1.active {
    display: none;
}  */

.container .side-bar {
    /* position:absolute; */
    top:0;
    width: 26vw;
    height: 90vh;
    background-color: rgba(255, 255, 255,0.95);
    box-shadow:0.2rem 0.2rem 3rem rgba(0,0, 0,0.2) ;
    z-index: 9;
    padding:1rem 0.5rem;
    transition: 1s linear;
    color: #4c4c4c;
    left:-100%;
    transform: translateX(-100%);
    transition-property: transform;
    transition-timing-function: ease-in;
    box-sizing: border-box;
     border: 0;
     border-bottom-right-radius:100px ;
     overflow: hidden;
}



.container .side-bar.active {
    left:0%;
    transform: translateX(0%);
   
}

.container .side-bar .icon {
    position: absolute;
    top:2rem;
    left:2rem;
    z-index: 9999;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
}
.container .side-bar .icon .img {
    width: 2.1rem;
    aspect-ratio: 5/5;
    position: absolute;
    left:0rem;
    padding:0.5rem;
    box-sizing: border-box;
}

.container .side-bar .icon .img img {
    width: 100%;
    height: 100%;
    display: block;
  
}
.container .side-bar .icon .menu {
    position: absolute;
    right: 3rem;
    width: 1.5rem;
    cursor: pointer;
    transform: translateY(-0.1rem);
}

.container .wel{
    position: absolute;
    top:5rem;
    left:0;
    padding:0 2.5rem;
    width: 100%;
    box-sizing: border-box;
}
.container .wel .text{
    padding: 1rem 0rem;
    color: #999999;
    font-size: 1rem;  
    
}
.container .wel .line,
.container ul .line {
    width: 100%;
    height: 2px;
    background-color: #e2e2e2;
   
  
}
.container ul .line {
    margin-bottom: 1.3rem;
}


.container .side-bar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding:0 2rem;
}
.container .side-bar ul .list:first-child {
    margin-top: 10rem;
}
.container .side-bar ul .list {
    margin-bottom: 1.2rem;
    display: flex;
    align-items: center;
}
.container .side-bar ul .list img {
    width: 1.2rem;
    height: 1.1rem;
    margin-right: 1rem;
}

.container .side-bar ul .list .icon img {
    width: 100%;
    height: 100%;
}

.container .side-bar ul .list li {
    font-size: 1.2rem;
    font-weight: 400;
    color:  #bababa;
    text-shadow: 0.8rem 0.8rem 0.8rem rgba(255, 255, 255, 0.5);
    position: relative;
    cursor: pointer;
    display: block;
    letter-spacing: 0.3rem;
    word-break: keep-all;
}
.container .side-bar ul li:hover {
    color:#272727;
}

.container .side-bar ul li:hover:before{ 
   content: "";
   position: absolute;
   bottom:-5px;
   border: 1px solid #4c4c4c;
   border-radius: 25px;
   animation: slide 1.5s linear infinite;
   width: 100%;

}


@keyframes slide {
    from {
        width: 0%;
    } to {
        width: 55%;
    }
}
/* 스피커 부분 */
.container .speaker {
    position: fixed;
    bottom:1.3rem;
    left:2rem;
    width:1.8rem;
    cursor: pointer;
    z-index: 999999;
}
.container audio {
    display: none;
} 
.container .speaker .play {
    display: block;
}
.container .speaker .muted {
    display: none;
}
.container .speaker .play.active {
    display: none;
}
.container .speaker .muted.active {
    display: block;
}

/* 팝업창 부분 css */
.container .pop-up {
    width: 100%;
    height: auto;
    position: absolute;
    top:0;
    left: 0;
    padding:0;
    z-index: 9999999;
    background-color: rgba(240, 248, 255,0.78);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    
}
.container .pop-up .content {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:0;
    box-shadow:0.2rem 0.2rem 0.2rem 0.2rem rgba(0,0, 0,0.1);
    box-sizing: border-box;
    padding:5rem;
    overflow-y:scroll ;
    min-height: 100vh;
}
.container .pop-up .content h1 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    letter-spacing: 0.4rem;
    font-weight: 900;
    text-shadow: 0.8rem 0.8rem 0.8rem rgba(255, 255, 255, 0.5); ;
}
.container .pop-up .content span {
    font-size: 1.5rem;
    text-align: center;
    line-height: 3rem;
    display: block;
    font-weight: 300;
    word-break: keep-all;
    text-shadow: 0.8rem 0.8rem 0.8rem rgba(255, 255, 255, 0.5); ;
}

#thank-to{
    display: none;
}
#thank-to.active{
    display: block;
}

#thank.active {
    color:#272727;
}
#gallery.active {
    color:#272727;
}
#map-b.active {
    color:#272727;
}
#contact-m.active {
    color:#272727;
}
#mind-m.active {
    color:#272727;
}
#contact-w.active {
    color:#272727;
}
#mind-w.active {
    color:#272727;
}


@media  screen and (max-width:940px) {
    .container .side-bar {
        width: 40vw;
    }
}
@media  screen and (max-width:640px) {
    .container .side-bar {
        width: 65vw;
    }
    .container .menu1 {
        left:2.5rem;
        width: 1.3rem;
        
    }
    .container .side-bar ul .list:first-child {
        margin-top: 10rem;
    }
    .container .side-bar ul .list {
        margin-bottom: 1.2rem;
    }
    
}
@media  screen and (max-width:420px) {
    .container .side-bar {
        width: 90vw;
    }
 
}

@media  screen and (max-width:280px) {
    .container .menu1 {
        top:1rem;
        left:1rem;
        width: 1rem;
        
    }
    .container .side-bar .icon .menu {
        position: absolute;
        right: 3rem;
        width: 1.5rem;
        cursor: pointer;
        transform: translateY(-1rem);
    }
 
    .container .wel .text{
        font-size: 0.8rem;  
        
    }
    .container .side-bar ul .list:first-child {
        margin-top: 8rem;
    }
    .container .side-bar ul .list {
        margin-bottom: 1rem;
    }
    .container .side-bar ul .list li {
        font-size: 1rem;
    }
}

/* 팝업창 반응형 */
@media screen and (max-width:1024px) {
    .container .pop-up .content {
        padding:5rem 3rem;
    }
    .container .pop-up .content h1 {
        font-size: 2rem;
    }
    .container .pop-up .content span {
        font-size: 1.5rem;
        text-align: center;
        line-height: 2.5rem;
        display: block;
    }
}
@media screen and (max-width:540px) {
    .container .pop-up .content {
        width: 60%;
        padding:4rem 1rem;
    
    }
    .container .pop-up .content h1 {
        font-size: 1.8rem;
    }
    .container .pop-up .content span {
        font-size: 1.3rem;
        text-align: center;
        line-height: 2.4rem;
        display: block;
    }

}
@media screen and (max-width:420px) {
    .container .pop-up .content {
        width: 100%;
    }
    .container .pop-up .content {
        padding:5rem 1rem;
    }
    .container .pop-up .content h1 {
        font-size: 1.5rem;
    }
    .container .pop-up .content span {
        font-size: 1rem;
        text-align: center;
        line-height: 2.4rem;
        display: block;
    }
}